<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="productForm" novalidate (ngSubmit)="onFormSubmit(productForm.value)">
    
     <mat-form-field class="example-full-width">
     <mat-label>Select Category</mat-label>
      <mat-select ([ngModel])="catalog" [(value)]="catalog" formControlName="catalog" matInput name="catalog">
        <mat-option *ngFor="let c of catalogs" [value]="c._id">
          {{c.catalog_name}}
        </mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Product Name" formControlName="prod_name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Product Desc" formControlName="prod_desc"
               [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product Description</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Product Price" formControlName="prod_price"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter Product Price</span>
        </mat-error>
      </mat-form-field>
       
       <span class="example-full-width">
          <label for="singleFile">Upload Photo</label>
          <input id="image" name="image" #file type="file" formControlName="image" (change)="onFileChanged($event)"/>
          <div style="color:red;" *ngIf="message">{{message}}</div>
       </span>
       <div></div>
       <div class="example-full-width" *ngIf="imagePath">
          <img class="img-fluid" [src]="imagePath" alt="Image"/> 
       </div>
     
      <div class="button-row">
        <button type="submit" [disabled]="productForm.pristine || productForm.invalid"  mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>   
</div>